html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

body {
    background-color: #e6f7f0; /* Set your desired background color */
}



/* Default style for the label */
.cart-label {
    color: black; /* Set the default color (black in this case) */
}

/* Style for the label when the checkbox is checked */
.cart-checkbox:checked + .cart-label {
    color:seagreen; /* Set the color to green when the checkbox is checked */
    font-size:17px;
    font-weight:700;
}

/* Style for the label when the checkbox is disabled */
.cart-checkbox:disabled + .cart-label {
    color: gray; /* Set the color to gray when the checkbox is disabled (optional) */
}