html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* Style the checkbox */
.cart-checkbox:checked {
    background-color: green; /* Change to your desired color */
    border-color: green; /* Change to your desired color */
}

    /* Style the label text when checkbox is checked */
    .cart-checkbox:checked + .cart-label {
        color: green; /* Change to your desired color */
        font-size: 17px;
        font-weight:700
    }